<!doctype html>
<html>
	<head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
			<style type="text/css">
			</style>
        </head>
	<body>
            <div id="layout" class="pure-g">
				<div class="pure-u-1-4"></div>
                <div class="content pure-u-1-2">
					{% for image in images %}
					<h3>{{ image[0] }}</h3>
					<p>Größe: {{ image[1][0] }}x{{ image[1][1] }}, Ähnlichkeit: {{ score }}</p>
						<img src="/static/temp/{{ image[2] }}" class="pure-u-1-1" alt="" />
						<p>
						<a href="/delete/{{ id }}?path={{ image[0]|e }}">löschen</a>
						</p>
					{% else %}
						<p>Es gibt keine weiteren Duplikate.</p>
					{% endfor %}
					{% if images %}
						<p>
							<a href="/view/{{ id+1 }}">weiter</a>
						</p>
					{% endif %}
					<p>
						<a href="/shutdown/">Beenden</a>
					</p>
                </div>
				<div class="pure-u-1-4"></div>
            </div>
        </body>
</html>
